.circle-container {
    position: relative;
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-logo {
    width: 150px;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
    position: absolute;
}

.logo-item {
    position: absolute;
    width: 70px;
    height: 70px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    transition: transform 1s ease-out;
}

.initial-position {
    transform: translate(0px, 0px);
    opacity: 0;
}

.final-position {
    opacity: 1;
    animation: moveOut 1s ease-out forwards;
}

@keyframes moveOut {
    from {
        transform: translate(0px, 0px);
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
