.root{
    :global{
        .centerbody{
            width: 900px;
            height: auto;
        }
        ul li{
            list-style: none;
        }
        .pro1Name{
            position: relative;
        }
        .pro1Name h1 i{
            display: block;
            position: absolute;
            top:-36px;
            left:220px;
            width: 120px;
            height: 120px;
            background-image: url(../../assets/csustplantlogo.png);
            background-size: 100%;
            border-radius: 50px;
        }
        .pro1Name h1 i{
            font-size: 28px;
            color: #000;
        }
        .pro1Introduce p{
            text-indent: 2em;
        }
        .pro1Introduce p,.pro1Context p{
            font-size: 16px;
            line-height: 24px;
        }
        
    }
}